@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSansWeb.woff") format("woff");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  transition-duration: 400ms;
}

body {
  background: var(--background);
  color: var(--foreground);
  font: var(--font-IranSans);
  font-family: "IranSans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}


.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-slide {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}

.close {
  right: 150%;
}

.open {
  left: 0%;
}

.bat {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    
}

.f1 {
  position: relative;
  top: -3%;
}

.f2 {
  position: relative;
  top: 15%;
}

.f3 {
  position: relative;
  top: 33.3333%;
}

.f4 {
  position: relative;
  top: 49.5%;
}

.f5 {
  position: relative;
  top: 68%;
}

.f6 {
  position: relative;
  top: 84.5%;
}
.coch {
  color: #50A2FF;
}